<!DOCTYPE html>
<html>

<head>

<title>Complaint Chatbot</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

<h2>🤖 Complaint Chatbot</h2>

<div id="chatbox" class="chatbox"></div>

<input id="message" placeholder="Describe your problem">

<button onclick="sendMessage()">Send</button>

<br><br>

<a href="/dashboard">📊 Dashboard</a>

<a href="/track">🔎 Track Complaint</a>

<a href="/my_tickets">🎫 My Tickets</a>

</div>

<script src="/static/chatbot.js"></script>

</body>
</html>